<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="./app.css" rel="stylesheet" type="text/css"/>
    <script src="./app.js"></script>
</head>
<body>
<h1><%= title %></h1>
<img src="./下载2.jpeg"/>
<p id="test">点击获取数据</p>
</body>
<script>
  function getData() {
    fetch('/data')
          .then(response => {
            return response.json();
          })
          .then(res => {
            console.log('re', res)
          })
          .catch(e => {
            console.log('e', e)
          })
  }
  getData()
    window.onload = function () {
      document.getElementById('test').onclick = function () {
        console.log('fetch', fetch)
        getData()
      }
    }
</script>