:root {
  --fin-component-size: 32px;
  --fin-font-size-base: 14px;
  --fin-input-width: 100%;
  --fin-primary-color: #396ee8;
  --fin-text-color-regular: #606266;
  --fin-fill-color-dark: #ebedf0;
  --fin-border-radius-base: 4px;
  --fin-transition-duration-fast: .2s;
  --fin-border-color: #dcdfe6;
  //--fin-primary-color: #dcdfe6;
  --fin-border-color-light: #e4e7ed;
  --fin-disabled-border-color: var(--fin-border-color-light);
  --fin-fill-color-light: #f5f7fa;
  --fin-disabled-bg-color: var(--fin-fill-color-light);
  --fin-transition-function-ease-in-out-bezier: cubic-bezier(.645, .045, .355, 1);
  --fin-transition-box-shadow: box-shadow var(--fin-transition-duration-fast) var(--fin-transition-function-ease-in-out-bezier);
  --fin-text-color-placeholder: #a8abb2;
  --fin-disabled-text-color: var(--fin-text-color-placeholder);
}
