
img{
    width: 100px;
}
body{
    /*background: url("../assets/助力首页新版-活动未开始.png");*/
}
h1{
    font-size: 60px;
}
.div1{
    width: 100vw;
    height: 100px;
    display: inline-block;
    background: #f7be78;
}
.div2{
    height: 100px;
    width: 100vmax;
    background: red
}