.fin-date-panel{
  width: 300px;
  padding: 20px;
  color: var(--fin-text-color-regular);
  background: #fff;
  border: 1px solid var(--fin-border-color);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 5px 0;
}
.fin-date-list-wrap{
  border-top: solid 1px var(--fin-border-color);
}

.fin-date-header-wrap{
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 20px;
  .year-btn, .month-btn{
    width: 30px;
    flex-shrink: 0;
    cursor: pointer;
    text-align: center;
    color: var(--fin-text-color-regular);
  }
  .fin-head-content{
    flex: 1;
    text-align: center;
    font-size: 16px;
  }
}

.fin-date-row{
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
