.fin-date-panel{
  width: 320px;
  padding: 15px;
  color: var(--fin-text-color-regular);
  background: #fff;
  border: 1px solid var(--fin-border-color);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 5px 0;
}
.fin-date-item{
  width: 35px;
  height: 35px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  color: #c0c4cc;
  cursor: pointer;
  span.date-text{
    width: 100%;
    height: 100%;
    line-height: 35px;
    display: inline-block;
    border-radius: 40px;
  }
  &.is-cur-month{
    color: var(--fin-text-color-regular);
    &:not(.is-active):hover {
      color: #409eff;
    }
  }
  &.is-today {
    .date-text{
      background: #ededed;
    }
  }
  &.is-active{
    .date-text{
      background: #409eff;
      color: #fff;
    }
  }
}
.fin-day-list-wrap {
  .fin-day-item{
    width: 14%;
    display: inline-block;
    font-size: 12px;
    text-align: center;
  }
}

.fin-week{
  .fin-date-row.is-activity, .fin-date-row:hover {
    background: #eff3fc;
    border-radius: 40px;
  }
}
