:host {

}
.fin-select {
  width: 250px;
  min-height: 35px;
  border-radius: var(--fin-border-radius-base);
  box-shadow: 0 0 0 1px var(--fin-border-color) inset;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  padding: 0 4px;
  align-items: center;
  .fin-select-input {
    height: 100%;
    flex: 1;
    position: relative;
    input {
      position: relative;
      z-index: 2;
      height: 100%;
      width: 100%;
      padding: 0;
      display: inline-block;
      border: none;
      float: left;
      outline: #5e6d82;
      background: transparent;
    }
  }
  &.is-disabled {
    background-color: var(--fin-disabled-bg-color);
    color: var(--fin-disabled-text-color);
    box-shadow: 0 0 0 1px var(--fin-disabled-border-color) inset;
    cursor: no-drop;
  }
}

.fin-option-wrap{
  background: #fff;
  min-width: 300px;
  border: 1px solid #e9edf0;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 5px 0;
}
.fin-selected {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}
.fin-selected-item{
  display: inline;
  color: #909399;
  background: #f4f4f5;
  padding: 2px 4px;
  margin: 3px;
  white-space: nowrap;
  font-size: 12px;
}
.fin-close-icon{
  cursor: pointer;
}

.fin-clear {
  width: 14px;
  height: 14px;
  border: solid 1px var(--fin-border-color);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  color: var(--fin-text-color-regular);
  cursor: pointer;
  margin-right: 6px;
  display: none;
}
.fin-select-placeholder {
  user-select: none;
  color: var(--fin-text-color-placeholder);
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 0;
  white-space: nowrap;
}

.direct-icon{
  transition: .2s;
  transform: rotate(0deg);
  margin-right: 6px;
}
.is-open .direct-icon{
  transform: rotate(180deg);
}
.is-selected:hover{
  .direct-icon{
    display: none;
  }
  .fin-clear{
    display: flex;
  }
}
