<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #app{
            text-align: center;
        }
        input{
            height: 25px;
            width: 400px;
            padding: 0 10px;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div id="app">
        <p>ADFDF
        <p>ADFDF

        <div class="1">
            <div class="1-1">AAAA</div>
        </div>
        <input v-model ="name" class="2"/>
        <h1 class="name">{{name}}</h1>
        <p/>
    </div>
</body>
<script type="module">
    import { parse }  from './compiler/parser/index.js'
/*    import { Mvue } from './core/instance/index.js'
	/!*const vm = new Mvue({
		el: "#app",
		data: {
			name: "我是MT"
		}
	});*!/
	const vm = new Mvue({
		el: "#app",
		render: function (createElement) {
			return createElement('div', {
				attrs: {
					id: 'app'
				},
			}, this.name)
		},
		data: {
			name: "我是MT"
		}
	});
	console.log('vm', vm)*/
	// var html = '<div class="root"><a href="abc.com"/><textarea></textarea><div v-for="(item, index) in list"></div><div class="abc" :clsss="{abc: ab}" v-if="isShow" name ="lanjz"><<ABCK<input v-modal="inp"/></div></div></div>'
    var html = '<div><<AVC</div>'
	console.log(parse(html, {}))
</script>
</html>
